@charset "UTF-8";
/* ==========================================================================
 * Created with Compass.
 * User: Chamara Weerasinghe
 * CSS Compiled on: #{timestamp()}
 * Reset css
 * To change this template use SASS Files. 
   ========================================================================== */

@import "compass";
/* reset css start */
@import "compass/reset";
/* reset css end */

/* ==========================================================================
 * Created with Compass.
 * User: Chamara Weerasinghe
 * CSS Compiled on: #{timestamp()}
 * Loading css
 * To change this template use SASS Files. 
 ========================================================================== */
/* loding css */

.pace {
-webkit-pointer-events: none;
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

.pace-inactive {
display: none;
}

.pace .pace-progress {
background: #cd2426;
position: fixed;
z-index: 2000;
top: 0;
right: 100%;
width: 100%;
height: 2px;
}

/* ==========================================================================
 * Created with Compass.
 * User: Chamara Weerasinghe
 * CSS Compiled on: #{timestamp()}
 * main css
 * To change this template use SASS Files. 
 ========================================================================== */

body{
 	background-color: #FFFFFF;
 	font-family: Calibri,'Segoe UI', Arial, sans-serif;
 	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #565656;
}
h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h2 {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 15.3999996185303px;
	@include transition(all 0.2s ease-in);
	margin-bottom: 20px;
	
}
h3{
	font-size: 14px;
	font-weight: 500;
	@include transition(all 0.2s ease-in);
}
h4{
	font-size: 14px;
	font-weight: 800;
	margin-bottom: 20px;
}
p {
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: justify;
}
hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.clearfix{
	@include pie-clearfix();
}
header{
	background-color: #fff;
	min-height: 70px;
 }
 .btl-logo {
 	img{
 		margin:20px 0 5px 0;
 	}
 }

 .btl-date{
 	position: absolute;
 	background-color: #ddd;
 	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	margin-bottom: 5px;

 	p{
 		padding: 5px;
 		font-size: 11px;
 		line-height: 10px;
 		margin-bottom: 0;
 	}
 }

.btl-stat-block{
 	position: inherit;
 	/* display: inline-block; */
 	float: right;
 	text-align: left;
 }
 .btl-login{
 	float: right;
 	margin: 5px 15px;
 	a{
 		color: #565656;
		@include transition(all 0.2s ease-in);	
		i{
			margin-right: 10px;
		}	
 		&:hover{
 			
 			text-decoration: none;
 		}
 	}
 }
 .btl-stat{
 	margin: 0 15px;
 }

.btl-stat-asi{
	float: right;
	background-color: #20723f;
	padding: 5px 10px;
	margin-bottom: 5px;
	color:#fff;
	margin-right: 10px;
	span{
		font-weight: 800;
	}
}
.btl-stat-spsl20{
	float: right;
	background-color: #a80e0d;
	padding: 5px 10px;
	margin-bottom: 5px;
	color:#fff;
	span{
		font-weight: 800;
	}	
}
.btl-share-vol{
	margin: 0 15px;
	float: right;
}
.btl-stat-turnover{
	font-size: 12px;
	float: right;
	margin-right: 10px;
	span{
		font-weight: 800;
	}
}
.btl-stat-volume{
	font-size: 11px;
	float: right;
	span{
		font-weight: 800;
	}
}

/* mainimage */
    .wide-container {
      max-width: 100%;
      min-height: 275px;
      margin: 0 auto;
      z-index: 2;
    }

.next,.prev{
	i{
		color:#fff;
		font-size: 12px;
		background-color: rgba(0,0,0,0.1);
		padding: 10px;
		@include opacity(.5);
		@include transition(all 0.2s ease-in);

		&:hover{
			color:#a80e0d;
			@include opacity(1);
		}
	}
}
/*.btl-main-navigation{
	  margin-bottom: 350px;  
}*/
.btl-main-navbar{
	margin-bottom: 0;
	background-color: rgba(225,225,225,0.5);
	border: none;

	.btl-main-nav{
		.active a,.active a:hover{
		background-color: rgba(166,14,13,0.4);
		color: #fff;
	}
	li{
		a{
			color: #565656;
			@include transition(all 0.2s ease-in);			
			&:hover{
				color:#fff;
				background-color: rgba(32,114,63,0.4);
			}
		}
	}
}
}
.main-image-content{
	position: absolute;
	top: 65%;
	p{
		color: #fff;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		padding-left: 30px;
		font-size: 20px;
		text-align: left;
	}

}

.btl-contact-link{
	margin: 10px 0;
	a{
		color:#565656;
		margin-right: 10px;
		@include transition(all 0.2s ease-in);		
		&:hover{
			color: #a80e0d;
 			text-decoration: none;
		}
		&:hover i{
			margin-right: 10px;
		}
		i{
			@include transition(all 0.2s ease-in);	
		} 
	}
}

.btl-content{
	background-color: #fff;
}
.btl-main-section{
	margin: 20px 0;
}

.btl-main-section-txt{
	display: table;
	h2{
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 10px;
		text-align: left;
	}
	a{
		background-color: #55BBE9;
		padding: 6px 20px;
		color: #fff;
		@include transition(all 0.2s ease-in);	
/* 		&:hover{
			text-decoration: none;
			background-color:  #1B99CF;
		} */
	}
}
.btl-main-section-img{
	display: table;
	float: left;
	margin-right: 10px;
	img{
		@include transition(all 0.4s ease-in);	
	}

}
.btl-main-section{
	&:hover .btl-main-section-img img{
		@include transform(rotateY(180deg));
	}
 &:hover h3{
	@include transform(translate(10px, 0px));
	color: #a80e0d;
 }
 &:hover h2{
	@include transform(translate(10px, 0px));
	color: #a80e0d;
 }
 &:hover .btl-main-section-txt a{
	text-decoration: none;
	background-color:  #1B99CF;	
 }
}

.btl-footer{
	background-color:#363636;
}
.btl-footer-txt{
	font-size: 12px;
	color: #fff;
	margin: 10px 0;
}
.social-link{
	margin: 10px 0;	
	color:#fff;
	font-size: 12px;
	a{
		margin: 0 10px;
	}
}

/* subpage */

.sub-main-image-content{
	position: absolute;
	/* top:50%; */
	bottom: 0;
	p{
		color: #fff;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		padding-left: 100px;
		font-size: 20px;
		text-align: left;
		//background-image: url(../images/sub-txt-bg.png);
		background-repeat: none;
		width: 457px;
		margin-bottom: 0;
	}

}

.btl-sub-nav{
	margin-bottom: 10px;
}
.btl-sub-nav-header{
	background-color: #555;
	padding: 10px;
	color: #fff;
}
.btl-sub-nav-body{
	background-color: #9e9e9e;
	padding: 10px;
	color: #fff;
}
.btl-sub-nav-list{
	li{
		margin-bottom: 15px;
		a{
			color: #fff;
			@include transition(all 0.2s ease-in);	
			&:hover{
				text-decoration: none;
				color: #a80e0d;
				margin-left: 10px;
				
			}
			span{
				font-size: 8px;
				margin-right: 10px
			}
		}
	}
}

.caption{
	min-height: 60px;
	h4{
		margin-bottom: 0;
	}
	p{
		margin-bottom: 0;
	}
}
.scrollspy{
	position: relative;
}

/* --------Contact us Page-------- */
.btl-contact-main-heading{
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	margin: 30px 0;
	line-height: 100%;
}
.nav-custom-center{
	text-align:center;
	li{
		float:none;
    	display:inline-block;
    	a{
    		background-color: #E2E3DF;
    		h4{
    			margin-bottom: 0;
    		}
    	}
	}
}
.btl-contact_msg{
	margin: 20px 0;
	font-size: 20px;
}

form{
	margin: 20px 0;
}
form input[type=text],input[type=email],input[type=email],textarea{
	//font-size: 18px;
	
}
form label{
	font-size: 20px;
	margin-bottom: 10px;

}
option,select,.contact-form-control{
	//font-size: 18px;
}
.contact-form-control{
	padding: 3px 12px;
	height: 37px;
	background-color: #F4F4F4;
	border: none;
	@include box-shadow(#E7E7E7 0px 1px 2px inset);
	&:focus{
		box-shadow: 0 0 0px 1px #55BBE9 inset 
	}

}
strong{
	font-weight: 800;
	color:#565656;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;

}
textarea {
    resize: none;
}
address{
	margin: 20px 0;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #9e9e9e;
}
.btl-map-wrapper{
	margin: 20px 0;
}

.hotline{
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #9e9e9e;
	strong{
		margin-bottom: 20px;
		font-weight: 800;
		color:#565656;
		font-size: 16px;
		text-transform: uppercase;
	}
}

/* blue button */
.btn-btl-blue-button { 
  color: #FFFFFF; 
  background-color: #55BBE9; 
  border-color: #55BBE9; 
@include box-shadow(#D1EBF6 0px 4px 0px);
} 
 
.btn-btl-blue-button:hover, 
.btn-btl-blue-button:focus, 
.btn-btl-blue-button:active, 
.btn-btl-blue-button.active, 
.open .dropdown-toggle.btn-btl-blue-button { 
  color: #FFFFFF; 
  background-color: #62A7C7; 
  border-color: #62A7C7;
@include box-shadow(#D1EBF6 0px 4px 0px);
} 
 
.btn-btl-blue-button:active, 
.btn-btl-blue-button.active, 
.open .dropdown-toggle.btn-btl-blue-button { 
  background-image: none; 
} 
 
.btn-btl-blue-button.disabled, 
.btn-btl-blue-button[disabled], 
fieldset[disabled] .btn-btl-blue-button, 
.btn-btl-blue-button.disabled:hover, 
.btn-btl-blue-button[disabled]:hover, 
fieldset[disabled] .btn-btl-blue-button:hover, 
.btn-btl-blue-button.disabled:focus, 
.btn-btl-blue-button[disabled]:focus, 
fieldset[disabled] .btn-btl-blue-button:focus, 
.btn-btl-blue-button.disabled:active, 
.btn-btl-blue-button[disabled]:active, 
fieldset[disabled] .btn-btl-blue-button:active, 
.btn-btl-blue-button.disabled.active, 
.btn-btl-blue-button[disabled].active, 
fieldset[disabled] .btn-btl-blue-button.active { 
  background-color: #55BBE9; 
  border-color: #55BBE9; 
  @include box-shadow(#D1EBF6 0px 4px 0px);
} 
 
.btn-btl-blue-button .badge { 
  color: #55BBE9; 
  background-color: #FFFFFF; 
}

/* small screens */
@media only screen and (max-width : 320px) {
.btl-date{
	position: static;
	p{
		text-align: center;
	}
}
.btl-login{
		background-color: #55BBE9;
		padding: 5px 10px;
		a{
			color: #fff;
		}
		&:hover{
			background-color:  #1B99CF;
		}
}
.btl-stat-asi{
	margin-right: 0;
}
}



/* Large Screens */
@media only screen 
and (min-width : 1824px) {
    .wide-container {
      max-width: 100%;
      min-height: 620px;
      margin: 0 auto;
      z-index: 2;
    }

}