/* ==========================================================================
 * Created with Compass.
 * User: Chamara Weerasinghe
 * CSS Compiled on: 2015-03-19 14:09:53 +0530
 * Reset css
 * To change this template use SASS Files. 
   ========================================================================== */
/* reset css start */
/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* reset css end */
/* ==========================================================================
 * Created with Compass.
 * User: Chamara Weerasinghe
 * CSS Compiled on: 2015-03-19 14:09:53 +0530
 * Loading css
 * To change this template use SASS Files. 
 ========================================================================== */
/* loding css */
/* line 24, ../sass/main.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 32, ../sass/main.scss */
.pace-inactive {
  display: none;
}

/* line 36, ../sass/main.scss */
.pace .pace-progress {
  background: #cd2426;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* ==========================================================================
 * Created with Compass.
 * User: Chamara Weerasinghe
 * CSS Compiled on: 2015-03-19 14:09:53 +0530
 * main css
 * To change this template use SASS Files. 
 ========================================================================== */
/* line 54, ../sass/main.scss */
body {
  background-color: #FFFFFF;
  font-family: Calibri,'Segoe UI', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #565656;
}

/* line 63, ../sass/main.scss */
h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}

/* line 70, ../sass/main.scss */
h2 {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 15.3999996185303px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-bottom: 20px;
}

/* line 80, ../sass/main.scss */
h3 {
  font-size: 14px;
  font-weight: 500;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 85, ../sass/main.scss */
h4 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* line 90, ../sass/main.scss */
p {
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: justify;
}

/* line 99, ../sass/main.scss */
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 103, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 106, ../sass/main.scss */
header {
  background-color: #fff;
  min-height: 70px;
}

/* line 111, ../sass/main.scss */
.btl-logo img {
  margin: 20px 0 5px 0;
}

/* line 116, ../sass/main.scss */
.btl-date {
  position: absolute;
  background-color: #ddd;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 5px;
}
/* line 123, ../sass/main.scss */
.btl-date p {
  padding: 5px;
  font-size: 11px;
  line-height: 10px;
  margin-bottom: 0;
}

/* line 131, ../sass/main.scss */
.btl-stat-block {
  position: inherit;
  /* display: inline-block; */
  float: right;
  text-align: left;
}

/* line 137, ../sass/main.scss */
.btl-login {
  float: right;
  margin: 5px 15px;
}
/* line 140, ../sass/main.scss */
.btl-login a {
  color: #565656;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 143, ../sass/main.scss */
.btl-login a i {
  margin-right: 10px;
}
/* line 146, ../sass/main.scss */
.btl-login a:hover {
  text-decoration: none;
}

/* line 152, ../sass/main.scss */
.btl-stat {
  margin: 0 15px;
}

/* line 156, ../sass/main.scss */
.btl-stat-asi {
  float: right;
  background-color: #20723f;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #fff;
  margin-right: 10px;
}
/* line 163, ../sass/main.scss */
.btl-stat-asi span {
  font-weight: 800;
}

/* line 167, ../sass/main.scss */
.btl-stat-spsl20 {
  float: right;
  background-color: #a80e0d;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #fff;
}
/* line 173, ../sass/main.scss */
.btl-stat-spsl20 span {
  font-weight: 800;
}

/* line 177, ../sass/main.scss */
.btl-share-vol {
  margin: 0 15px;
  float: right;
}

/* line 181, ../sass/main.scss */
.btl-stat-turnover {
  font-size: 12px;
  float: right;
  margin-right: 10px;
}
/* line 185, ../sass/main.scss */
.btl-stat-turnover span {
  font-weight: 800;
}

/* line 189, ../sass/main.scss */
.btl-stat-volume {
  font-size: 11px;
  float: right;
}
/* line 192, ../sass/main.scss */
.btl-stat-volume span {
  font-weight: 800;
}

/* mainimage */
/* line 198, ../sass/main.scss */
.wide-container {
  max-width: 100%;
  min-height: 275px;
  margin: 0 auto;
  z-index: 2;
}

/* line 206, ../sass/main.scss */
.next i, .prev i {
  color: #fff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 214, ../sass/main.scss */
.next i:hover, .prev i:hover {
  color: #a80e0d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*.btl-main-navigation{
	  margin-bottom: 350px;  
}*/
/* line 223, ../sass/main.scss */
.btl-main-navbar {
  margin-bottom: 0;
  background-color: rgba(225, 225, 225, 0.5);
  border: none;
}
/* line 229, ../sass/main.scss */
.btl-main-navbar .btl-main-nav .active a, .btl-main-navbar .btl-main-nav .active a:hover {
  background-color: rgba(166, 14, 13, 0.4);
  color: #fff;
}
/* line 234, ../sass/main.scss */
.btl-main-navbar .btl-main-nav li a {
  color: #565656;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 237, ../sass/main.scss */
.btl-main-navbar .btl-main-nav li a:hover {
  color: #fff;
  background-color: rgba(32, 114, 63, 0.4);
}

/* line 245, ../sass/main.scss */
.main-image-content {
  position: absolute;
  top: 65%;
}
/* line 248, ../sass/main.scss */
.main-image-content p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-left: 30px;
  font-size: 20px;
  text-align: left;
}

/* line 259, ../sass/main.scss */
.btl-contact-link {
  margin: 10px 0;
}
/* line 261, ../sass/main.scss */
.btl-contact-link a {
  color: #565656;
  margin-right: 10px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 265, ../sass/main.scss */
.btl-contact-link a:hover {
  color: #a80e0d;
  text-decoration: none;
}
/* line 269, ../sass/main.scss */
.btl-contact-link a:hover i {
  margin-right: 10px;
}
/* line 272, ../sass/main.scss */
.btl-contact-link a i {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 278, ../sass/main.scss */
.btl-content {
  background-color: #fff;
}

/* line 281, ../sass/main.scss */
.btl-main-section {
  margin: 20px 0;
}

/* line 285, ../sass/main.scss */
.btl-main-section-txt {
  display: table;
}
/* line 287, ../sass/main.scss */
.btl-main-section-txt h2 {
  margin-bottom: 10px;
}
/* line 290, ../sass/main.scss */
.btl-main-section-txt p {
  margin-bottom: 10px;
  text-align: left;
}
/* line 294, ../sass/main.scss */
.btl-main-section-txt a {
  background-color: #55BBE9;
  padding: 6px 20px;
  color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /* 		&:hover{
  			text-decoration: none;
  			background-color:  #1B99CF;
  		} */
}

/* line 305, ../sass/main.scss */
.btl-main-section-img {
  display: table;
  float: left;
  margin-right: 10px;
}
/* line 309, ../sass/main.scss */
.btl-main-section-img img {
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

/* line 315, ../sass/main.scss */
.btl-main-section:hover .btl-main-section-img img {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 318, ../sass/main.scss */
.btl-main-section:hover h3 {
  -moz-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  -webkit-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
  color: #a80e0d;
}
/* line 322, ../sass/main.scss */
.btl-main-section:hover h2 {
  -moz-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  -webkit-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
  color: #a80e0d;
}
/* line 326, ../sass/main.scss */
.btl-main-section:hover .btl-main-section-txt a {
  text-decoration: none;
  background-color: #1B99CF;
}

/* line 332, ../sass/main.scss */
.btl-footer {
  background-color: #363636;
}

/* line 335, ../sass/main.scss */
.btl-footer-txt {
  font-size: 12px;
  color: #fff;
  margin: 10px 0;
}

/* line 340, ../sass/main.scss */
.social-link {
  margin: 10px 0;
  color: #fff;
  font-size: 12px;
}
/* line 344, ../sass/main.scss */
.social-link a {
  margin: 0 10px;
}

/* subpage */
/* line 351, ../sass/main.scss */
.sub-main-image-content {
  position: absolute;
  /* top:50%; */
  bottom: 0;
}
/* line 355, ../sass/main.scss */
.sub-main-image-content p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-left: 100px;
  font-size: 20px;
  text-align: left;
  background-repeat: none;
  width: 457px;
  margin-bottom: 0;
}

/* line 370, ../sass/main.scss */
.btl-sub-nav {
  margin-bottom: 10px;
}

/* line 373, ../sass/main.scss */
.btl-sub-nav-header {
  background-color: #555;
  padding: 10px;
  color: #fff;
}

/* line 378, ../sass/main.scss */
.btl-sub-nav-body {
  background-color: #9e9e9e;
  padding: 10px;
  color: #fff;
}

/* line 384, ../sass/main.scss */
.btl-sub-nav-list li {
  margin-bottom: 15px;
}
/* line 386, ../sass/main.scss */
.btl-sub-nav-list li a {
  color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 389, ../sass/main.scss */
.btl-sub-nav-list li a:hover {
  text-decoration: none;
  color: #a80e0d;
  margin-left: 10px;
}
/* line 395, ../sass/main.scss */
.btl-sub-nav-list li a span {
  font-size: 8px;
  margin-right: 10px;
}

/* line 403, ../sass/main.scss */
.caption {
  min-height: 60px;
}
/* line 405, ../sass/main.scss */
.caption h4 {
  margin-bottom: 0;
}
/* line 408, ../sass/main.scss */
.caption p {
  margin-bottom: 0;
}

/* line 412, ../sass/main.scss */
.scrollspy {
  position: relative;
}

/* --------Contact us Page-------- */
/* line 417, ../sass/main.scss */
.btl-contact-main-heading {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  margin: 30px 0;
  line-height: 100%;
}

/* line 424, ../sass/main.scss */
.nav-custom-center {
  text-align: center;
}
/* line 426, ../sass/main.scss */
.nav-custom-center li {
  float: none;
  display: inline-block;
}
/* line 429, ../sass/main.scss */
.nav-custom-center li a {
  background-color: #E2E3DF;
}
/* line 431, ../sass/main.scss */
.nav-custom-center li a h4 {
  margin-bottom: 0;
}

/* line 437, ../sass/main.scss */
.btl-contact_msg {
  margin: 20px 0;
  font-size: 20px;
}

/* line 442, ../sass/main.scss */
form {
  margin: 20px 0;
}

/* line 449, ../sass/main.scss */
form label {
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 457, ../sass/main.scss */
.contact-form-control {
  padding: 3px 12px;
  height: 37px;
  background-color: #F4F4F4;
  border: none;
  -moz-box-shadow: #E7E7E7 0px 1px 2px inset;
  -webkit-box-shadow: #E7E7E7 0px 1px 2px inset;
  box-shadow: #E7E7E7 0px 1px 2px inset;
}
/* line 463, ../sass/main.scss */
.contact-form-control:focus {
  box-shadow: 0 0 0px 1px #55BBE9 inset;
}

/* line 468, ../sass/main.scss */
strong {
  font-weight: 800;
  color: #565656;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 476, ../sass/main.scss */
textarea {
  resize: none;
}

/* line 479, ../sass/main.scss */
address {
  margin: 20px 0;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #9e9e9e;
}

/* line 486, ../sass/main.scss */
.btl-map-wrapper {
  margin: 20px 0;
}

/* line 490, ../sass/main.scss */
.hotline {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #9e9e9e;
}
/* line 495, ../sass/main.scss */
.hotline strong {
  margin-bottom: 20px;
  font-weight: 800;
  color: #565656;
  font-size: 16px;
  text-transform: uppercase;
}

/* blue button */
/* line 505, ../sass/main.scss */
.btn-btl-blue-button {
  color: #FFFFFF;
  background-color: #55BBE9;
  border-color: #55BBE9;
  -moz-box-shadow: #D1EBF6 0px 4px 0px;
  -webkit-box-shadow: #D1EBF6 0px 4px 0px;
  box-shadow: #D1EBF6 0px 4px 0px;
}

/* line 512, ../sass/main.scss */
.btn-btl-blue-button:hover,
.btn-btl-blue-button:focus,
.btn-btl-blue-button:active,
.btn-btl-blue-button.active,
.open .dropdown-toggle.btn-btl-blue-button {
  color: #FFFFFF;
  background-color: #62A7C7;
  border-color: #62A7C7;
  -moz-box-shadow: #D1EBF6 0px 4px 0px;
  -webkit-box-shadow: #D1EBF6 0px 4px 0px;
  box-shadow: #D1EBF6 0px 4px 0px;
}

/* line 523, ../sass/main.scss */
.btn-btl-blue-button:active,
.btn-btl-blue-button.active,
.open .dropdown-toggle.btn-btl-blue-button {
  background-image: none;
}

/* line 529, ../sass/main.scss */
.btn-btl-blue-button.disabled,
.btn-btl-blue-button[disabled],
fieldset[disabled] .btn-btl-blue-button,
.btn-btl-blue-button.disabled:hover,
.btn-btl-blue-button[disabled]:hover,
fieldset[disabled] .btn-btl-blue-button:hover,
.btn-btl-blue-button.disabled:focus,
.btn-btl-blue-button[disabled]:focus,
fieldset[disabled] .btn-btl-blue-button:focus,
.btn-btl-blue-button.disabled:active,
.btn-btl-blue-button[disabled]:active,
fieldset[disabled] .btn-btl-blue-button:active,
.btn-btl-blue-button.disabled.active,
.btn-btl-blue-button[disabled].active,
fieldset[disabled] .btn-btl-blue-button.active {
  background-color: #55BBE9;
  border-color: #55BBE9;
  -moz-box-shadow: #D1EBF6 0px 4px 0px;
  -webkit-box-shadow: #D1EBF6 0px 4px 0px;
  box-shadow: #D1EBF6 0px 4px 0px;
}

/* line 549, ../sass/main.scss */
.btn-btl-blue-button .badge {
  color: #55BBE9;
  background-color: #FFFFFF;
}

/* small screens */
@media only screen and (max-width: 320px) {
  /* line 556, ../sass/main.scss */
  .btl-date {
    position: static;
  }
  /* line 558, ../sass/main.scss */
  .btl-date p {
    text-align: center;
  }

  /* line 562, ../sass/main.scss */
  .btl-login {
    background-color: #55BBE9;
    padding: 5px 10px;
  }
  /* line 565, ../sass/main.scss */
  .btl-login a {
    color: #fff;
  }
  /* line 568, ../sass/main.scss */
  .btl-login:hover {
    background-color: #1B99CF;
  }

  /* line 572, ../sass/main.scss */
  .btl-stat-asi {
    margin-right: 0;
  }
}
/* Large Screens */
@media only screen and (min-width: 1824px) {
  /* line 582, ../sass/main.scss */
  .wide-container {
    max-width: 100%;
    min-height: 620px;
    margin: 0 auto;
    z-index: 2;
  }
}
