.branch-locator {
    /*position: fixed;*/
    width: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 30px 0px;
    position: relative;
}

#map {
    height: 750px;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
    position: relative;
}
.ui-accordion {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #fff;
}
.branch-selector {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    min-width: 200px;
    max-height: 100%;
    overflow-y: auto;
}
.branch-selector .ui-accordion-header {
    border-radius: 0;
    background: #000;
    opacity: 0.7;
    color: #fff;
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 500;
}

.branch-selector .ui-accordion-content {
    border-radius: 0;
    padding: 0;
    background: none;
    border: none;
}
.branch-selector .ui-accordion-header .ui-accordion-header-icon {
    right: 0.5em;
    left: auto;
}
.branch-selector .ui-state-default .ui-accordion-header-icon {
    background: url('../images/icon-plus.png') center no-repeat;
}
.branch-selector .ui-state-active .ui-accordion-header-icon {
    background: url('../images/icon-minus.png') center no-repeat;
}

.branch {
    background: #902537;
    display: block;
    margin: 0;
    text-decoration: none;
    color: #fff !important;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 5px 6px 50px;
    margin-bottom: 1px;
    opacity: 0.9;
}

.branch:hover {
    background-color: #000;
}

.branch:active {
    vertical-align: -1px;
}
